name: Deploy to Production

on:
  push:
    branches:
      - production  # productionブランチに反映されたら実行

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p ${{ secrets.SSH_PORT }} ${{ secrets.STAGE_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy via rsync
        run: |
          rsync -avz --delete --exclude '.git' --exclude 'node_modules' -e "ssh -p ${{ secrets.SSH_PORT }}" ./ \
          ${{ secrets.STAGE_USER }}@${{ secrets.STAGE_HOST }}:/home/xs522881/modern.co.jp/public_html/